<% if @product.image.present? %>
   <span>picture of current product</span><br>
   <%= image_tag(@seat.seatimg.smallseat.url)  %>
<% end %>

<%= simple_form_for [@product,@seat] do |f| %>
<%= f.input :seatimg, as: :file  %>
<%= f.submit "Submit", data: {disable_with: "Submitting..."} %>
<% end %>
