<% if @product.image.present? %>
   <span>picture of current product</span><br>
   <%= image_tag(@seat.seatimg.smallseat.url)  %>
<% end %>

<div class="group">
  <%= f.input :image, as: :file  %>
</div>

<%= f.submit "Submit",data:{disable_with:"Submitting..."}  %>
