<!DOCTYPE html>
<html>
<head>
<style>
table, td, th {
    border: 0px solid black;
}

table {
    border-collapse: collapse;
    width: 80%;
    align: center;
    margin-left: 250px;
}


</style>
</head>
<body>
  <div class="container" id="seatpage">
   <div class="col-md-6 col-md-offset-0">
     <table>

  <tr>
    <td><a href=add_to_cart_product_path>
      <img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></a></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
  </tr>
  <tr>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
  </tr>
  <tr>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
  </tr>
  <tr>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
  </tr>
  <tr>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
    <td><img src="https://ww2.sinaimg.cn/large/006tKfTcly1fcrdue3obwj302s02st8h.jpg"></td>
  </tr>
   </table>
 </div>
</div>
</body>

</html>


<div class="row">
  <% @seats.each do |seat| %>
  <%= image_tag(seat.seatimg.smallseat.url, class: "thumbnail") %>
  <% end %>
</div>
