<style media="screen">
.bgwhite {
    background-color: #ffffff;
    border: #c6e5dc 1px solid;
}
.seatrow a:hover{
  text-decoration: none;
}
.bgwhite .sit{
      margin-top: 100px;
}
.sit {
    width: 70%;
    height: 2000px;
    margin: 8px 0 20px 0;
    padding-bottom: 10px;
    position: relative;
    border: 0;
}

.choose_exp{
  width: 100%;
  height: 200px

}

.sit_green{
  background: url("http://www.wandafilm.com/imges/movie/sit_div_img.jpg") no-repeat top left;
  padding-left: 30px;
  padding-right: 10px;
  margin-left: 510px;


  height: 26px;
  float: left;
  line-height: 26px;
}

.sit_ashy{
  background: url("http://www.wandafilm.com/imges/movie/sit_div_img2.jpg") no-repeat top left;
  padding-left: 30px;
  padding-right: 10px;

  float: left;
  line-height: 26px;

}

.sit_orange{
  background: url("http://www.wandafilm.com/imges/movie/sit_div_img3.jpg") no-repeat top left;
  padding-left: 30px;
  padding-right: 10px;
  float: left;
  line-height: 26px;

}

.sit_div{
  background: url("http://www.wandafilm.com/imges/movie/sit_div.jpg") no-repeat top left;
  float: left;
  clear: left;
  margin-top: 10px;
  margin-left: 200px;
  width: 100%;
  height: 100px;
}

h2{
  height: 70px;
}
</style>

<div class="bgwhite sit" style="height: auto">
  <div class="choose_exp clearfix" style="height: 10%">
  <div class="seat_tag clearfix">
    <div class="sit_green">
        Selectable
    </div>
    <div class="sit_ashy">
        Unselectable
    </div>
    <div class="sit_orange">
        Your Select
    </div>
  </div>
    <div class="sit_div">

    </div>
</div>

<div class="container" >
    <%  count = 0 %>
    <%i=1 %>
    <% @seats.each do |seat| %>
    <% if count == 0 %>
    <div class="row" style="margin:auto">
      <div class="seatrow" style="padding-left: 475px">
        <%= i %>
        <% end %>
        <% count+=1 %>
        <span id="seat-<%= seat.id %>">
        <%= render partial: "seat_item", locals: { product:@product,seat:seat} %>
        </span>
        <% if count == 8 || seat == @seats.last%>
    </div>
    <% count = 0 %>
    <% i=i+1%>
    <% end %>
    <% end %>
  </div>
</div>
<div class="pull-right" style="margin:50px 0px 50px 5px;">
<%= link_to("View in cart!",carts_path, :class =>"btn btn-lg",:id=>"cart-botton" ) %>
</div>
</div>
