<div class=" col-md-3 product_list">
 <center>
	<div class="ticket-item">
	<div class="ticket-body">
		<h4> <%= product.title %></h4>
		<div class="ticket-title">
			<br>
			<p><span class=""><i class="fa fa-usd" aria-hidden="true"> <span class="font-style"><%= number_to_currency(product.price,unit:"")%></span> </i> </span>
			<span style="margin-left: 20px"><i class="fa fa-map-pin" aria-hidden="true"></i> raw 1 col 1</span></p>		
			<p>			<span class=""><i class="fa fa-clock-o" aria-hidden="true"> <span class="font-style"><%= product.created_at.end_of_month.noon.to_s(:db) %></span></i></span></p>
		</div>
		<div id="qrcode">
		<% product_list= ProductList.first %>
		<% str_test =product_list.product_name+" " +product_list.created_at.to_s+" " +"col: 7"+" "+ "raw: 7" +"\ "+" aad  ddddddddda ddddddddd" %>
		<% @qr = RQRCode::QRCode.new( str_test, :size => 5, :level => :l )  %>
		<%= raw @qr.as_html %>
		</div>
		</div>
	</div>
	</center>
</div>
