<div class="row" >
	<div class="col-md-1"></div>
	<div class="col-md-6">
		<h2>About</h2>
		iMoviestore.com is a worldwide leader in advance movie ticketing and a top destination for news, celebrity interviews, movie reviews and trailers. iMoviestore.com offers moviegoers a quick and convenient way to purchase tickets online, via mobile device and at 877-789-MOVIE; along with enhanced services including print-at-home ticketing and much more. Fans can stay connected with iMoviestore.com through Facebook, Twitter, YouTube, Instagram, and Google+.
		<br>
		iMoviestore.com and its international Websites currently enable remote ticketing for consumers across 22 countries/territories, including:
	</div>
	
</div>