<div class="row" style="margin-bottom: 100px"> 

<% p= Product.first  %>
<div style ="display:none;" >
	<div id="p-location" value = "<%= p.location %>" ><span> <%= p.location %></span></div>
</div>


<div style='width: 800px;' id="sidebar_container">
<button class="btn btn-default" id="controller">controller</button>
</div>
<script type="text/javascript">
	
 $('#controller').on('click', function(){
$('#sidebar_builder').show();
    	console.log("map");
  	handler = Gmaps.build('Google');
	handler.buildMap({ internal: {id: 'sidebar_builder'}}, function(){

	marker = handler.addMarkers(<%=raw @hash.to_json %>);
	    handler.bounds.extendWith(marker);
    handler.fitMapToBounds();
    });  } ) 

</script>
  <div id="sidebar_builder" style='width: 800px; height: 400px;display: none ;'></div>
</div>
