
<div class="row">
	<div class="col-md-12">
		
		<h2>Your Cart</h2>
		<table class="table" id="cart-items-table">
			<thead>
				<tr>
					<th colspan="2"></th>
					<th class="text-center">Price</th>
					<th class="text-center">Quantity</th>
					<th class="text-center">Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= render :partial=> "cart_items", :collection=>current_cart.cart_items, :as=>:cart_item %>
			</tbody>
		</table>
		<br>
		<div class="total clearfix">
			<span class="pull-right">
				<span> <b>Subtotal <%= number_to_currency(current_cart.total_price,:unit=>'$ ')  %></b></span>
			</span>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<div class="clearfix">
			<%= link_to("Checkout",checkout_carts_path, method: :post, class: "btn pull-right",id:"cart-botton") %>
			<%= link_to("Clean Cart",clean_carts_path,method: :delete, class: "btn  pull-left",id:"cart-botton",data: {confrim: "Are you sure ?"} )%>
		</div>
	</div>
</div>