@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html {
  font-family: 'Anaheim', sans-serif !important;
}

h2,
th,
td,
body {
  font-family: 'Anaheim', sans-serif;
}

#brand {
  font-family: 'Anaheim', sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 4px;
  // border: 2px solid black;
  font-size: 50px;
  position: relative;
  text-align: center;
}

.navbar-default {
  background-color: #fff;
  border: none;
}

.affix {
  position: relative;
}

#BB-nav.affix {
  top: 0px;
  -webkit-transition: top 1s ease-in;
  transition: top 1s ease-out;
  margin-bottom: 20px
}

#BB-nav {
  width: 100%;
  background-color: #fff;
  z-index: 999
}

#BB-nav .dropdown-menu {
  border: none
}

.BB-nav li a {
  background-color: transparent;
  font-size: 1.04em;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #202020 !important;
  font-family: 'Anaheim', sans-serif;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all
}

.BB-nav li a:hover {
  background-color: transparent;
  color: #D75752 !important
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #D75752 !important
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu a {
  background-color: transparent
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none
}

.navbar-nav > li > form {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px
}

@media (min-width:768px) {
  .navbar-nav > li > form {
    padding-top: 15px;
    padding-bottom: 15px
  }

}

#search-nav input,
#search-nav button[type="reset"] {
  display: none
}

#search-nav input,
#search-nav button {
  border-radius: 0px;
  border-width: 0px;
  color: #454545;
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none
}

#search-nav .search-submit {
  position: relative;
  bottom: 2px
}

#search-nav {
  display: inline-block
}

#account-nav {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}

#account-menu {
  padding-right: 0px;
}

#account-menu .dropdown-toggle {
  padding-right: 0px;
}

#cart-nav {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px
}

.account-button {
  position: relative;
  left: 0px
}

#account-nav button {
  border-radius: 0px;
  border-width: 0px;
  color: #454545;
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  height: 25px
}

#account-nav button[type="reset"] {
  display: none
}

#account-nav .account-field {
  display: none
}

#account-nav a {
  color: #121212
}

#account-nav a:hover {
  color: #c52d2f
}

#footer a {
  color: #121212
}

#footer a:hover {
  color: #c52d2f
}

.product-img:hover {
  opacity: 0.5
}

.li-form {
  padding-right: 60px;
}

/*************************
*******pagination******
**************************/
.apple_pagination {
  text-align: center;
  padding: 5em;
  cursor: default
}

.apple_pagination a,
.apple_pagination span {
  padding: 0.2em 0.3em
}

.apple_pagination .disabled {
  color: #aaaaaa
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  display: inline-block;
  width: 1.4em;
  height: 1.6em;
  padding-bottom: 1.5em;
  line-height: 1.5;
  border: black;
  border: 2px;
  border: 2px solid black;
  -moz-border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px
}

.apple_pagination a {
  text-decoration: none;
  color: black
}

.apple_pagination a:hover,
.apple_pagination a:focus {
  text-decoration: underline
}

/*************************
*******index-items******
**************************/
.index-item {
  margin-left: 60px
}

/*************************
*******pagination******
**************************/
.display-page {
  margin-top: 0px;
  margin-bottom: 150px;
}

.product-title {
  width: 200px;
  font-size: 1.16667em;
  color: #444444;
  margin-bottom: 30%;
}

.product-title.price {
}

.content {
  margin-top: 100px;
}

/*************************
*******search******
**************************/
#search-title {
  padding-left: 20%;
  padding-bottom: 5%;
}

#search-key {
  padding-left: 0px;
}

#search-item {
  margin-top: 60px;
  margin-bottom: 60px;
}

#search-img {
  margin-left: 20%;
}

.search-result {
  padding-right: 40%;
}

#search-result-title {
  color: rgb(68, 68, 68);
  font-family: 'Anaheim', sans-serif;
}

#devise.panel-primary {
  border: none;
  -webkit-box-shadow: none;
}

.devise-input {
  border: none;
  border-bottom: 1px dashed black;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
}

.devise-link {
  color: gray;
  text-decoration: underline;
}

.reg-btn {
  display: inline-block;
  margin-top: -15px;
}

.form-actions p {
  display: inline-block;
}

.divider-space {
  height: 100px;
}

divider-space-90 {
  height: 0px;
}

/*************************
*******footer******
**************************/
#footer {
  margin-bottom: 20px;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px
}

.fixed-bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

/*************************
*******carts******
**************************/
#cart-items-img {
}

#cart-items-table tr > td,
#cart-items-table tr >th,
#cart-items-table tr {
  border: none;
}

#cart-items-table tr > td {
  width: 100px;
  vertical-align: middle;
}

#cart-items-table a {
  color: black;
  font-size: 18px;
}

#item-img-td {
  width: 100px !important;
}

#cart-items-table form {
}

#cart-items-table button {
  opacity: 1;
}

#cart-botton {
  background: #444444;
  color: #ffffff;
  font-family: 'Anaheim', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 8px 16px;
  margin-left: 10px;
}

#order-form-head {
  padding-bottom: 10%;
}

#order-info {
  background: #F9F9F9;
  padding-bottom: 10%;
}

#order-info #order-form-head {
  margin-bottom: 0;
}

#order-info a {
  color: black;
}

#order-info hr {
  border-top: 1px solid #D5D5D3;
}

#total-title {
  font-size: 1.14286em;
  color: #4b4b4b;
}

#total-money {
  font-size: 1.71429em;
  font-weight: 500;
  letter-spacing: -0.04em;
}

#sub-total {
  font-size: 1.14286em;
  color: #5E5E5E
}

#back-to-cart {
  padding-left: 2%;
  font-size: 1.3em;
}

#back-to-cart back:hover {
  margin-left: 1em;
}

#back-to-cart a {
  color: #1990C6;
}

.btn-primary#alipay {
  background: #0AE;
  border: none;
}

.btn-primary#wechat {
  background: #25c400;
  border: none;
}

#order-show {
  margin-bottom: 5%;
  margin-top: 20px;
}

#index-title {
  margin-left: 6%;
  font-size: 3em;
  margin-bottom: 5%;
  color: black;
}

#index-title:hover {
  text-decoration: none;
}

#show-title {
  font-family: 'Anaheim', sans-serif;
  font-size: 2em;
}

#show-price {
  font-family: 'Anaheim', sans-serif;
  color: #444444;
  font-weight: lighter;
  font-size: 28px;
}

#show-remind {
  font-size: 1.2em;
  font-family: 'Anaheim', sans-serif;
}

#show-text {
  font-family: 'Anaheim', sans-serif;
}

/*************************
*******canvas******
**************************/
@import url(//fonts.googleapis.com/css?family=Anaheim);

#images-gallery {
  height: 400px;
  margin-bottom: 20%;
}

.font-style {
  font-family: 'Anaheim', sans-serif;
}

#center-title {
  display: table;
  margin: 5% auto 100px;
  text-transform: uppercase;
  font-family: 'Anaheim', sans-serif;
  font-size: 4em;
  font-weight: 400;
}

#images-gallery .container {
  margin: 4% auto;
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
}

#images-gallery #carousel {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
}

#images-gallery #carousel:hover {
  animation-play-state: paused;
}

#images-gallery #carousel > figure {
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  overflow: hidden;
  border: solid 5px black;
}

#images-gallery #carousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(288px);
}

#images-gallery #carousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(288px);
}

#images-gallery #carousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(288px);
}

#images-gallery #carousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(288px);
}

#images-gallery #carousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(288px);
}

#images-gallery #carousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(288px);
}

#images-gallery #carousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(288px);
}

#images-gallery #carousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(288px);
}

#images-gallery #carousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(288px);
}

#images-gallery img {
  -webkit-filter: grayscale(1);
  cursor: pointer;
  transition: all .5s ease;
}

#images-gallery img:hover {
  -webkit-filter: grayscale(0);
  // transform: scale(1.2, 1.2);
  opacity: 0.9;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

#seat-img {
  padding: 5px;
}

.sidebar {
  margin-left: 20px;
  position: fixed;
  top: 200px;
  right: 50px;
  display: none;
}

.sidebar >ul >li {
  list-style-type: none;
}

.sidebar >ul {
  padding-left: 10px;
}

.sidebar>ul>li> a {
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Anaheim', sans-serif !important;
  color: black;
  display: inline;
  padding-left: 0px;
  font-size: 20px;
  margin-right: 10px;
}

#landingpage-img {
  margin-bottom: 5px;
}

#index-title {
  font-size: 67px;
}

#index-ul {
  list-style: none;
}

#index-ul > li {
  font-size: 25px;
}

#index-picture {
  // background-image: url("/assets/images/brand/index_pic.jpg");
  // background-size: 25%;
}

#index-picture .row {
  margin-top: 5%;
  margin-bottom: 2%;
}

#promise {
  background-color: rgba(200, 200, 200, 0.2);
}

#promise img {
  max-width: 80%;
  height: auto;
}

#promise-img {
  margin-left: 25%;
  margin-top: 5%;
}

#promise-img img {
  border-radius: 20px;
}

#promise-title {
  font-size: 45px;
  margin-top: 60px;
}

#promise-ul {
  list-style: none;
  position: relative;
  margin-left: 18%;
}

#promise-ul > li {
  font-size: 20px;
}

#qrcode img {
  max-width: 40%;
  height: auto;
}

#qrcode {
  padding-bottom: 30px;
}

#qr-img {
  margin-left: 25%;
  margin-top: 5%;
}

#icon {
  background-color: rgba(200, 200, 200, 0.1);
}

#icon .icon {
  margin-top: 20%;
  position: relative;
  left: 160px;
}

#icon ul {
  margin-top: 50px;
}

#signup #push {
  background: #444444;
  color: #ffffff;
  font-family: 'Anaheim', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 0px 15px;
  margin-left: 10px;
  font-size: 40px;
}

#buttom-div {
  position: relative;
  top: 150px;
}

#big {
  font-family: 'Anaheim', sans-serif;
  font-size: 70px;
}

#small {
  font-family: 'Anaheim', sans-serif;
  font-size: 40px;
}

.locationmodal-container {
  background-color: white;
  border-radius: 2px;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0px;
}

.modal-header .close {
  font-size: 2em;
}

#qrcode   table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}

#qrcode  td {
  border-left: solid 3px #000;
  padding: 0;
  margin: 0;
  width: 0px;
  height: 3px;
}

#qrcode   td.black {
  border-color: #000;
}

#qrcode  td.white {
  border-color: #fff;
}

/*************************
*******ticket-items******
**************************/
.ticket-item {
  margin-top: 20px;
  font-family: 'Anaheim', sans-serif;
  // width: 80%;
}

.ticket-item #qrcode {
  position: relative;
  top: 20px;
  width: 70%;
}

.ticket-item h4 {
  margin-bottom: 0px;
}

.ticket-body {
  width: 65%;
  border: 1px solid #000000;
  padding: 1px;
  box-shadow: 10px 10px 5px #888888;
}

.ticket-item hr {
  margin-bottom: 0px;
  border-top: 1px dashed #000000;
}

.review {
  margin-top: 100px;
}
.review-field .form-control{
    height: 120px !important;
    margin-bottom: 30px;
}