// Place all the styles related to the seats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#company {
  margin-top: 10000
}
.sit_green{
  background: url(../imges/seats/seat.jpg) no-repeat top left;
  padding-left: 30px;
  margin-left: 280px;
}
