<div class=" col-md-3 col-lg-3 product_list">
	<%= link_to product_path(product) do %>
	<div class="index-item">
		<div class="product-img">
			<%= big_image(product,"product-img")  %>
			<% end %>
		</div >
		<div class="product-title">
			<span class="pull-left"><i class="fa fa-clock-o" aria-hidden="true"> <span class="font-style"><%= product.created_at.end_of_month.noon.to_s %></span></i></span><br>
			<span class="pull-left"><i class="fa fa-usd" aria-hidden="true"> <span class="font-style"><%= number_to_currency(product.price,unit:"")%></span> </i> </span>
		</div>

	</div>
</div>
