<div class="col-xs-6 col-md-3 product_list" >
	<%= link_to product_path(product) do %>
	<div class="index-item">
		<div class="product-img">
		<%= show_product_image(product)  %>
			<% end %>
		</div >
		<div class="product-title">
			<%= link_to(product.title,product_path(product),class:"product-title") %>
			<br><br>
			<span class="price"><%= number_to_currency(product.price,:unit=>'$')%></span>
		</div>
		
	</div>
</div>