<div class="row display-page">
	<%  count = 0 %>
	<% @products.each do |product| %>
	<% if count == 0 %>
	<div class="row">
		<% end %>
		<% count+=1 %>
		<%= render partial: "product_item", locals: { product:product} %>
		<% if count == 4 || product == @products.last%>
	</div>
	<% count = 0 %>
	<% end %>
	<% end %>
	<div class="row pull-right">
		<%= will_paginate @products ,class:"apple_pagination" %>
	</div>
</div>