<%= render "common/footer_js" %>


<footer class="container"  id="footer">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-6">
                Copyright ©2017 JDStore
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="#">Home</a></li>
                    <li><%= link_to("About",about_path) %></li>
                </ul>
            </div>
        </div>
    </div>
</footer>