<%= content_for :handwrite_javascript do  %>
<script type="text/javascript">
$(
    function() {
        function footerPosition() {
            $("footer").removeClass("fixed-bottom");
            var contentHeight = document.body.scrollHeight,
                winHeight = window.innerHeight;
            if (!(contentHeight > winHeight)) {
                $("footer").addClass("fixed-bottom");
            } else {
                $("footer").removeClass("fixed-bottom");
            }
        }
        footerPosition();
        $(window).resize(footerPosition);
    }
)

</script>
<% end %>


<footer class="container"  id="footer">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-6">
                Copyright ©2017 JDStore
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="#">Home</a></li>
                    <li><%= link_to("About",about_path) %></li>
                </ul>
            </div>
        </div>
    </div>
</footer>